@charset "UTF-8";

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: #233eff;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

h1 {
    padding: 10px;
    text-shadow: 2px 2px 0px darkblue;
}
